/*
This is a stripped down version of the style.css file from the website.
*/

@charset "UTF-8";

.ft_banner,
.ft_footer {
.clearfix, .cf {
  zoom: 1;
}
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: "";
  display: table;
}
.clearfix:after, .cf:after {
  clear: both;
}
.text-center {
  line-height: 1em;
  font-size: 1em;
  padding: 0 0 25px 0;
}
/* =Reset
-------------------------------------------------------------- */
ol, ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}
a img {
  border: 0;
}
/* =Global
----------------------------------------------- */
body, button, input, select, textarea {
  color: #404040;
  font-family: "gill-sans-nova", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  clear: both;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
/* Text elements */
p {
  margin-bottom: 1.5em;
}
ul, ol {
  margin: 0 0 1em 1.5em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
b, strong {
  font-weight: bold;
}
dfn, cite, em, i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
}
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}
sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: 0.5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}
button, input, select, textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}
button, input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
input[type="text"], input[type="email"], input[type="password"], input[type="search"], textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
  color: #111;
}
input[type="text"], input[type="email"], input[type="password"], input[type="search"] {
  padding: 3px;
}
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}
/* Links */
a {
  color: #D6212E;
  text-decoration: none;
}
a:visited {
  color: #D6212E;
}
a:hover, a:focus, a:active {
  color: #D6212E;
  text-decoration: underline;
}
/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.ie7 .screen-reader-text {
  display: none;
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}
/* Clearing */
.clear:before, .clear:after, [class*="content"]:before, [class*="content"]:after, [class*="site"]:before, [class*="site"]:after {
  content: "";
  display: table;
}
.clear:after, [class*="content"]:after, [class*="site"]:after {
  clear: both;
}
/* =Container
---------------------------------------------- */
#page {
  position: relative;
}
.ie7 .site-main {
  clear: both;
  margin-top: 15px;
  position: relative;
}
.ie7 .site-main .content-area {
  margin-top: 20px;
  overflow: hidden;
}
/* =Header
---------------------------------------------- */
.site-title a {
  background: url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/logo-red-new@2x.jpg") no-repeat;
  display: block;
  width: 238px;
  height: 97px;
  background-size: 238px 97px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 20px 0 0;
}
.ie .site-title a {
  background-image: url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/logo-red-ie.jpg");
}
/* footer pre text and picture background */
#footer-pre-area {
  margin-top: 40px;
  background: transparent url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/footer-image.jpg") center bottom no-repeat;
  background-size: contain;
  width: 100%;
  height: calc(0.273 * 100vw);
}
#footer-pre-area .red-underline {
  background-color: #D6212E;
  height: 2px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
#footer-pre-area p {
  text-align: center;
}
/* New Header */
.purple-background {
  background: linear-gradient(180deg, #391B42 0%, #724080 100%);
  color: #fff;
}
.purple-background a, .purple-background a:link, .purple-background a:visited {
  color: #fff;
}
.shield-thing {
  display: none;
}
.purple-wedge {
  display: none;
}
#utilities-menu-area {
  position: inline;
  background: linear-gradient(90deg, #391B42 0%, #724080 100%);
  color: #fff;
}
@media (max-width: 768px) {
  #utilities-menu-area {
    display: none;
  }
}
.logo-thing-mobile img {
  max-width: 300px;
	padding-top: 20px
}
@media (min-width: 768px) {
  .purple-background {
    min-height: 150px;
  }
  #utilities-menu-area {
    position: absolute;
    background: transparent;
  }
  .shield-thing {
    display: block;
    width: 220px;
    height: 220px;
    background: transparent url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/shield2.png") center -20px no-repeat;
    /*box-shadow: 5px 5px 5px #000;*/
    /*this doesnt work*/
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding: 0; /* Override for CSuite style */
  }
  .shield-thing a, .shield-thing img, .shield-thing button .btn {
    margin-top: 1.2em;
  }
  .shield-thing img {
    max-width: 80%;
    margin-bottom: 1em;
  }
  .shield-thing button, .shield-thing .btn {
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
    width: 60%;
    align-self: center;
  }
  .purple-wedge {
    display: block;
    background: transparent url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/curved-border2.png") top center no-repeat;
    background-size: cover;
    min-height: 60px;
  }
  .logo-thing-mobile {
    display: none;
  }
}
@media (min-width: 992px) {
  .purple-background {
    min-height: 230px;
  }
  .shield-thing {
    width: 320px;
    height: 320px;
  }
  .shield-thing a, .shield-thing img, .shield-thing button .btn {
    margin-top: 1.8em;
  }
}
/* end new header styles



/* =Footer
----------------------------------------------- */
.site-footer {
  background: linear-gradient(to left, #723883, #391B42);
  color: #FFFFFF;
  font-size: 0.8em;
  padding-top: 4em;
  padding-bottom: 1em;
}
.site-footer a {
  color: #FFFFFF;
}
.site-footer li {
  list-style-type: none;
}
.site-footer .site-info {
  max-width: 970px;
  margin: auto;
  padding: 0.5em;
}
.site-footer .site-info p {
  float: left;
  line-height: 2em;
  margin-bottom: 0;
}
.site-footer .site-info .cf-standards {
  float: right;
}
.site-footer .site-info .cf-standards a {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(https://alaskacf.org/wp-content/uploads/2023/06/National-Standards.png) no-repeat;
  width: 97px;
  height: 97px;
  background-size: 97px 97px;
}
.site-footer .footer-widget-area {
  margin: auto;
  text-transform: uppercase;
}
.site-footer .footer-widget-area .footer-column ul {
  margin-left: 0;
}
.site-footer .footer-widget-area .footer-column .textwidget {
  margin: 0;
}
.site-footer .footer-widget-area .footer-column .textwidget a {
  color: #FFFFFF;
  font-size: inherit;
}
.site-footer .footer-widget-area .footer-column .textwidget a :hover {
  color: #e5e5e5;
}
.site-footer .footer-widget-area .widget-title {
  font-weight: bold;
}
.site-footer .footer-widget-area #nav_menu-12 {
  background-color: #824095;
  padding: 1.5em;
  line-height: 3em;
}
.menu-user-logins-container {
  margin-top: 1em;
}
.ie .site-footer .cf-standards a {
  background-image: url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/cf-standards-ie.jpg");
}
.ie7 .site-footer .footer-widget-container .footer-widget-area .footer-column {
  width: 24%;
}
.we-support {
  text-align: center;
  font-size: 16px;
  color: #bebebe;
}
.we-support a {
  min-width: 134px;
  min-height: 20px;
  display: inline-block;
  color: #bebebe;
  position: relative;
  margin-right: 14px;
}
.we-support a span {
  font-size: 16px;
  top: -1px;
  position: relative;
}
.we-support a span:hover {
  color: #eee;
  text-decoration: none;
}
.we-support a:last-child {
  margin-right: 0;
}
.we-support .ts49-support {
  background: url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/town-square-49-header-gs.png") no-repeat transparent;
  background-size: 100% auto;
  background-position: center bottom;
  min-width: 160px;
}
.we-support .pcg-support {
  background: url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/picclickgive.jpg") no-repeat transparent;
  background-size: 100% auto;
}
@media screen and (min-width: 768px) {
  .we-support {
    text-align: left;
  }
}
/* =Menu
----------------------------------------------- */
html.wpmm-force-bg {
  background-color: rgba(255, 255, 255, 0);
}
.menu-top-container li {
  list-style: none;
}
.menu-top-container .sub-menu {
  display: none;
}
.menu-top-container .menu a, .menu-main-container .menu a {
  background-color: transparent;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 2px 5px;
  margin-left: 10px;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}
.menu-top-container .menu a:hover, .menu-main-container .menu a:hover {
  background: #7c2b84;
  color: #FFFFFF;
}
.menu-top-container .menu li:hover a, .menu-main-container .menu li:hover a {
  background: #7c2b84;
  color: #FFFFFF;
}
.menu-top-container .menu #menu-item-1834:hover > a, .menu-top-container .menu #menu-item-1834 > a:hover, .menu-main-container .menu #menu-item-1834:hover > a, .menu-main-container .menu #menu-item-1834 > a:hover {
  background: #FDB913;
}
.menu-top-container .menu #menu-item-10005, .menu-main-container .menu #menu-item-10005 {
  position: absolute;
  top: 10px;
  right: 0;
}
.menu-top-container .menu .donate a, .menu-main-container .menu .donate a {
  background-color: transparent;
  color: #000;
}
.navigation-main ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.navigation-main ul ul {
  display: none;
  float: left;
  position: absolute;
  left: 10px;
  z-index: 99999;
  font-size: 0.9em;
}
.navigation-main ul ul ul {
  left: 100%;
  top: 0;
}
.navigation-main ul li:hover > ul {
  display: block;
}
.navigation-main li {
  float: left;
  position: relative;
}
.navigation-main .menu a {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 10px;
  position: relative;
}
.navigation-main .menu > li > a {
  margin-bottom: 10px;
}
.navigation-main .menu > li:hover > a:after {
  position: absolute;
  bottom: -8px;
  left: 45%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 9px 0 9px;
  border-color: #7d2b84 transparent transparent transparent;
  content: "";
}
.navigation-main .menu ul {
  background: rgba(124, 43, 132, 0.75);
}
.navigation-main .menu ul li {
  -webkit-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}
.navigation-main .menu ul li:hover {
  background: #D6212E;
}
.navigation-main .menu ul a {
  width: 240px;
  text-transform: none;
  background: transparent;
  margin-left: 0;
  border-bottom: 1px solid #B16797;
  padding: 2px 0;
  margin: 0 10px;
}
.navigation-main .menu ul li:last-child a {
  border-bottom: none;
}
.navigation-main #menu-item-1834 a:after {
  border-color: #fdb913 transparent transparent transparent;
}
.navigation-main #menu-item-1834 ul {
  background: rgba(253, 185, 19, 0.75);
}
.navigation-main .sub-menu .sub-menu {
  display: none;
}
.ie .navigation-main .menu ul {
  background-image: url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/menu-bg-ie.png");
}
.ie7 .navigation-main {
  z-index: 99999;
  position: relative;
}
.ie7 .navigation-main .menu > li > a {
  margin-bottom: 0;
}
.navigation-main .menu ul li, .navigation-main .menu li:hover ul li a, .navigation-main .menu ul a:hover, .navigation-main #menu-item-1834 ul li a {
  background: transparent;
}
/* Small menu */
.menu-toggle {
  display: none;
  cursor: pointer;
}
.main-small-navigation ul {
  display: none;
}
@media screen and (max-width: 620px) {
  .menu-toggle, .main-small-navigation ul.nav-menu.toggled-on {
    display: block;
  }
  .navigation-main {
    line-height: 1.2em;
    margin-top: 0;
  }
  .navigation-main .menu-toggle {
    background: #D6212E;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 3px 5px 6px;
  }
  .navigation-main .menu-toggle:hover {
    background: #723883;
  }
  .navigation-main ul {
    display: none;
  }
}
/* Widget Areas */
.widget-area {
  width: 35%;
  float: right;
}
.single .widget-area {
  width: 27%;
}
/* Make sure embeds and iframes fit their containers */
embed, iframe, object {
  max-width: 100%;
}
/* Add icons to file types */
a[href$=".doc"], a[href$=".docx"] {
  background-image: url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/Word_alt.png");
}
a[href$=".xls"], a[href$=".xlsx"] {
  background-image: url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/Excel_alt.png");
}
a[href$=".doc"], a[href$=".xls"], a[href$=".docx"], a[href$=".xslsx"] {
  background-position: left center;
  background-repeat: no-repeat;
  margin: -2px 0;
  padding: 2px 0 2px 22px;
}
/* =Navigation
----------------------------------------------- */
.site-content [class*="navigation"] {
  font-size: 2rem;
  justify-content: center;
  margin-top: 40px;
  padding: 8px 16px;
}
.site-content [class*="navigation"] .page-numbers {
  padding: 5px;
}
/*
[class*="navigation"] .previous, .nav-previous {
float: left;
width: 50%;
}
[class*="navigation"] .next, .nav-next {
float: right;
text-align: right;
width: 50%;
}
 */
.disclaimer {
  font-size: 0.8em;
  color: #8c8e90;
}
/* =Widgets
----------------------------------------------- */
.widget-area .widget {
  margin-left: 1.5em;
}
.widget-area .widget .widget-title {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}
.widget-area .widget ul {
  margin: 0;
  padding: 0;
}
.widget-area .widget.categories li, .widget-area .widget.archives li, .widget-area .widget.widget_advanced_menu li {
  list-style: none;
  margin: 0.5em 0;
  position: relative;
}
.widget-area .widget.categories li a, .widget-area .widget.archives li a, .widget-area .widget.widget_advanced_menu li a {
  color: #8c8e90;
  display: block;
  padding: 0.25em 1.3em;
}
.widget-area .widget.categories li a:before, .widget-area .widget.archives li a:before, .widget-area .widget.widget_advanced_menu li a:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  left: 0;
  content: "";
  color: #D6212E;
  padding-right: 0.5em;
}
.widget-area .widget.categories li a:before, .widget-area .widget.archives li a:before, .widget-area .widget.widget_advanced_menu li a:before {
  color: #8c8e90;
  content: "";
  font-size: 0.7em;
  top: 7px;
  padding-left: 0.7em;
}
.widget-area .widget.categories li a:hover, .widget-area .widget.archives li a:hover, .widget-area .widget.widget_advanced_menu li a:hover {
  background: #D6212E;
  color: #FFFFFF;
  text-decoration: none;
}
.widget-area .widget.categories li a:hover:before, .widget-area .widget.archives li a:hover:before, .widget-area .widget.widget_advanced_menu li a:hover:before {
  color: #FFFFFF;
}
.widget-area .widget.categories li .children, .widget-area .widget.archives li .children, .widget-area .widget.widget_advanced_menu li .children {
  margin-left: 1em;
}
.widget-area .widget.widget_most_popular_tags a {
  background: #eceded;
  color: #707070;
  padding: 0.5em;
  text-transform: uppercase;
  margin-right: 0.5em;
  -webkit-transition: background-color 200ms ease-in, color 200ms ease-in;
  transition: background-color 200ms ease-in, color 200ms ease-in;
  line-height: 2.8em;
}
.widget-area .widget.widget_most_popular_tags a:hover {
  background: #D6212E;
  color: #FFFFFF;
  text-decoration: none;
}
.widget-area .widget.widget_advanced_menu .menu > li, .widget-area .widget.widget_advanced_menu .menu-grants > li {
  display: none;
}
.widget-area .widget.widget_advanced_menu .menu > li.current-menu-item, .widget-area .widget.widget_advanced_menu .menu > li.current-menu-ancestor, .widget-area .widget.widget_advanced_menu .menu-grants > li.current-menu-item, .widget-area .widget.widget_advanced_menu .menu-grants > li.current-menu-ancestor {
  display: block;
}
.widget-area .widget.widget_advanced_menu .menu > li.current-menu-item > a, .widget-area .widget.widget_advanced_menu .menu > li.current-menu-ancestor > a, .widget-area .widget.widget_advanced_menu .menu-grants > li.current-menu-item > a, .widget-area .widget.widget_advanced_menu .menu-grants > li.current-menu-ancestor > a {
  display: none;
}
.widget-area .widget.widget_advanced_menu .menu a, .widget-area .widget.widget_advanced_menu .menu-grants a {
  background: transparent;
  margin-left: 0;
  text-transform: none;
  color: #707070;
  -webkit-transition: background-color 200ms ease-in, color 200ms ease-in;
  transition: background-color 200ms ease-in, color 200ms ease-in;
}
.widget-area .widget.widget_advanced_menu .menu a:hover, .widget-area .widget.widget_advanced_menu .menu a:focus, .widget-area .widget.widget_advanced_menu .menu a:active, .widget-area .widget.widget_advanced_menu .menu-grants a:hover, .widget-area .widget.widget_advanced_menu .menu-grants a:focus, .widget-area .widget.widget_advanced_menu .menu-grants a:active {
  background: #E31837;
  color: #FFFFFF;
}
.widget-area .widget.widget_advanced_menu .menu a:hover:before, .widget-area .widget.widget_advanced_menu .menu a:focus:before, .widget-area .widget.widget_advanced_menu .menu a:active:before, .widget-area .widget.widget_advanced_menu .menu-grants a:hover:before, .widget-area .widget.widget_advanced_menu .menu-grants a:focus:before, .widget-area .widget.widget_advanced_menu .menu-grants a:active:before {
  color: #FFFFFF;
}
.widget-area .widget.widget_advanced_menu .menu .sub-menu .current-menu-parent a, .widget-area .widget.widget_advanced_menu .menu .sub-menu .current-menu-item a, .widget-area .widget.widget_advanced_menu .menu .sub-menu .current-menu-ancestor a, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .current-menu-parent a, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .current-menu-item a, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .current-menu-ancestor a {
  background: #E31837;
  color: #FFFFFF;
}
.widget-area .widget.widget_advanced_menu .menu .sub-menu .current-menu-parent a:before, .widget-area .widget.widget_advanced_menu .menu .sub-menu .current-menu-item a:before, .widget-area .widget.widget_advanced_menu .menu .sub-menu .current-menu-ancestor a:before, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .current-menu-parent a:before, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .current-menu-item a:before, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .current-menu-ancestor a:before {
  color: #FFFFFF;
}
.widget-area .widget.widget_advanced_menu .menu .sub-menu .sub-menu, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .sub-menu {
  display: none;
  margin-left: 1em;
}
.widget-area .widget.widget_advanced_menu .menu .sub-menu .sub-menu li, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .sub-menu li {
  margin: 0.2em 0;
}
.widget-area .widget.widget_advanced_menu .menu .sub-menu .sub-menu a, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .sub-menu a {
  background: #eceded;
  color: #707070;
  padding-left: 0.75em;
}
.widget-area .widget.widget_advanced_menu .menu .sub-menu .sub-menu a:before, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .sub-menu a:before {
  display: none;
}
.widget-area .widget.widget_advanced_menu .menu .sub-menu .sub-menu a:hover, .widget-area .widget.widget_advanced_menu .menu .sub-menu .sub-menu a:focus, .widget-area .widget.widget_advanced_menu .menu .sub-menu .sub-menu a:active, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .sub-menu a:hover, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .sub-menu a:focus, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .sub-menu a:active {
  background: #E31837;
  color: #FFFFFF;
}
.widget-area .widget.widget_advanced_menu .menu .sub-menu .current-menu-ancestor > .sub-menu, .widget-area .widget.widget_advanced_menu .menu .sub-menu .current-menu-item > .sub-menu, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .current-menu-ancestor > .sub-menu, .widget-area .widget.widget_advanced_menu .menu-grants .sub-menu .current-menu-item > .sub-menu {
  display: block;
}
.widget-area .widget.widget_advanced_menu .menu-grants > li {
  display: block;
}
.widget-area .widget.widget_advanced_menu .menu-grants > li .sub-menu {
  display: none;
}
.widget-area .widget.widget_advanced_menu .menu-top-container {
  position: relative;
  top: -1.4em;
  left: 0;
}
.widget-area .widget.widget_advanced_menu .menu-top-container .pro-advisors {
  width: auto;
  text-align: left;
  line-height: inherit;
}
.widget-area .widget.widget_advanced_menu .menu-top-container li {
  display: block;
  float: none;
}
.widget-area .widget.widget_advanced_menu .menu-top-container .sub-menu {
  display: block;
}
.widget-area .widget.widget_advanced_menu .menu-top-container .current-menu-item > a {
  background: #E31837;
  color: #FFFFFF;
}
.widget-area .widget.widget_advanced_menu .menu-top-container .current-menu-item > a:before {
  color: #FFFFFF;
}
.widget-area .widget.widget_advanced_menu .menu-top-container .menu > li.current-menu-ancestor > a {
  display: block !important;
}
.widget-area .widget.widget_dpe_fp_widget li {
  list-style: none;
}
.widget-area .widget.widget_dpe_fp_widget .widget-title {
  background: #D6212E;
  color: #FFFFFF;
  font-size: 1.8em;
  padding: 0.5em 0.25em;
  margin-bottom: 0.2em;
}
.widget-area .widget.widget_dpe_fp_widget .hentry {
  border-top: none;
  border-bottom: none;
  background: #f6f6f6;
  padding: 0.5em;
  width: auto;
}
.widget-area .widget.widget_dpe_fp_widget .hentry .title {
  font-size: 1em;
  line-height: 1.3em;
}
.widget-area .widget.widget_dpe_fp_widget .hentry .title .subtitle {
  display: none;
}
.widget-area .widget.widget_dpe_fp_widget .hentry .title a {
  color: #000;
}
.widget-area .widget.widget_dpe_fp_widget .hentry .title a:hover {
  color: #D6212E;
}
.widget-area .widget.widget_dpe_fp_widget .hentry .cat-links {
  margin-top: 1em;
}
.widget-area .widget.widget_dpe_fp_widget .hentry .entry-summary {
  float: none;
  width: auto;
  margin: 0;
}
.widget {
  margin: 0 0 1.5em;
}
/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}
/* Search widget */
.widget_search .submit {
  display: none;
}
/* Header Widgets */
/*this item moved outside the parent css, not using header-widget area for now */
#menu-social li {
  margin: 0 0.5em;
  display: inline-block;
  list-style-type: none;
  color: #FFFFFF;
  border-radius: 1em;
  width: 32px;
  padding: 3px 0;
  text-align: right;
  float: right;
}
#menu-social li:hover {
  background: #FFFFFF;
  color: #D6212E;
}
#menu-social li:hover a {
  color: #D6212E;
}
#menu-social li a {
  color: #FFFFFF;
  text-decoration: none;
}
#utility-menu {
  margin-left: 0;
}
#utility-menu li {
  margin: 0 0.5em;
  display: inline-block;
  list-style-type: none;
  color: #FFFFFF;
  text-align: left;
  float: left;
}
#utility-menu li:hover {
  background: #FFFFFF;
  color: #D6212E;
}
#utility-menu li:hover a {
  color: #D6212E;
}
#utility-menu li a {
  color: #FFFFFF;
  text-decoration: none;
}
#header-widget-area {
  position: absolute;
  top: -2.2em;
  left: 0;
  width: 100%;
}
#header-widget-area .widget-first {
  float: left;
}
#header-widget-area .nav-menu {
  float: right;
}
#header-widget-area .nav-menu ul {
  margin: 0 0 0 0.7em;
}
#header-widget-area .nav-menu ~ .gform_wrapper {
  float: right;
}
#header-widget-area .nav-menu ~ .gform_wrapper .gform_body {
  float: left;
}
#header-widget-area .nav-menu ~ .gform_wrapper .gform_footer {
  float: right;
}
#header-widget-area #menu-social li {
  margin: 0 0.5em;
  display: inline-block;
  list-style-type: none;
  color: #FFFFFF;
  border-radius: 1em;
  width: 32px;
  padding: 3px 0;
  text-align: center;
}
#header-widget-area #menu-social li:hover {
  background: #FFFFFF;
  color: #D6212E;
}
#header-widget-area #menu-social li:hover a {
  color: #D6212E;
}
#header-widget-area #menu-social li a {
  color: #FFFFFF;
  text-decoration: none;
}
#header-widget-area input[type="text"] {
  background: #D6212E;
  color: #fd9e98;
  border: 1px solid #D6212E;
  border-radius: 0;
  padding: 3px 5px;
  font-size: 0.9em;
  height: 19px;
}
#header-widget-area input[type="text"]::-webkit-input-placeholder {
  color: "#fd9e98";
}
#header-widget-area input[type="text"]:-moz-placeholder {
  color: "#fd9e98" !important;
}
#header-widget-area input[type="text"]::-moz-placeholder {
  color: "#fd9e98" !important;
}
#header-widget-area input[type="text"]:-ms-input-placeholder {
  color: "#fd9e98" !important;
}
#header-widget-area input[type="submit"] {
  background-color: #ea2936;
  color: #fd9e98;
  border: 1px solid #ea2936;
  border-radius: 0;
  box-shadow: 0 0 0;
  text-shadow: 0 0 0;
  font-size: 15px;
  padding: 3px 5px;
}
#header-widget-area input::-webkit-input-placeholder, #header-widget-area input:-moz-placeholder, #header-widget-area input::-moz-placeholder, #header-widget-area input:-ms-input-placeholder {
  color: #fd9e98;
}
#header-widget-area .search-submit, #header-widget-area .gform_button {
  text-indent: -100px;
  white-space: nowrap;
  overflow: hidden;
  width: 30px;
  height: 27px;
  background: url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/submit-arrow-red@2x.jpg") center no-repeat;
  background-size: 16px;
}
#header-widget-area .gform_widget {
  float: right;
}
#header-widget-area .gform_widget .gform_wrapper {
  margin: 0;
  max-width: none;
}
#header-widget-area .gform_widget .gform_wrapper .gform_body {
  float: left;
}
#header-widget-area .gform_widget .gform_wrapper .gform_fields {
  margin: 0;
}
#header-widget-area .gform_widget .gform_wrapper ul li.gfield {
  clear: none;
}
#header-widget-area .gform_widget .gform_wrapper .top_label input.medium {
  width: 13em;
}
#header-widget-area .gform_widget .gform_wrapper .gform_footer {
  clear: none;
  margin: 0;
  padding: 0;
  float: left;
}
.ie #header-widget-area input[type="text"] {
  height: 16px;
}
.ie #header-widget-area .search-submit, .ie #header-widget-area .gform_button {
  background-image: url("https://alaskacf.org/wp-content/themes/alaskacf2021/img/submit-arrow-red-ie.jpg");
  height: 24px;
}
.ie7 #header-widget-area .nav-menu {
  width: 200px;
}
.ie7 #header-widget-area #menu-social li {
  display: inline;
}
.ie7 #header-widget-area .gform_button {
  text-indent: 0;
  color: #414042;
  font-size: 1px;
}
/* end Header Widgets */
/* Footer Widgets */
.footer-widget-area .footer-column aside.nav-menu {
  padding: 0 0.5em 0 0;
}
.footer-widget-area .footer-column .textwidget {
  margin-left: 0.5em;
}
.footer-widget-area .footer-column .textwidget a {
  font-size: 0.9em;
  color: #8c8e90;
}
.footer-widget-area ul.nav-menu {
  margin: 0;
  padding: 0;
}
.footer-widget-area ul.nav-menu a {
  line-height: 1em;
  font-weight: bold;
  color: #FFFFFF;
}
.footer-widget-area ul.nav-menu li {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
.footer-widget-area ul.nav-menu li a {
  text-transform: uppercase;
}
.footer-widget-area ul.nav-menu ul.sub-menu {
  margin: 0;
}
.footer-widget-area ul.nav-menu ul.sub-menu li {
  margin: 0;
  line-height: 1.3em;
}
.footer-widget-area ul.nav-menu ul.sub-menu li a {
  text-transform: none;
  line-height: 1.3em;
  color: #d6d6d6;
  font-weight: lighter;
}
.footer-widget-area ul.nav-menu .site-map a, .footer-widget-area ul.nav-menu .privacy-policy a {
  text-transform: none;
}
.footer-widget-area ul.nav-menu .site-map:after {
  content: " |";
  display: inline;
  padding-right: 0.5em;
}
.footer-widget-area ul.nav-menu .site-map, .footer-widget-area ul.nav-menu .privacy-policy {
  float: left;
}
.footer-widget-area ul.nav-menu .print {
  clear: left;
  font-size: 1em;
  color: #000;
  background: #FFFFFF;
  border-radius: 50%;
  width: 35px;
  padding: 6px 0 6px 1px;
  text-align: center;
}
.footer-widget-area ul.nav-menu .print:hover {
  background: #919598;
  color: #FFFFFF;
}
.footer-widget-area ul.nav-menu .print:hover a {
  color: #FFFFFF;
}
.footer-widget-area ul.nav-menu .print a {
  color: #000;
  text-decoration: none;
}
.footer-widget-area .user-logins .widget-title {
  text-transform: uppercase;
  margin-bottom: 0.25em;
  font-weight: bold;
}
.footer-widget-area .user-logins ul.nav-menu li {
  padding: 0.25em 0.5em;
  margin: 0 0 0.25em;
}
.footer-widget-area .user-logins ul.nav-menu li a {
  font-weight: normal;
  font-size: 0.9em;
}
.footer-widget-area .user-logins ul.nav-menu li a:hover {
  color: #FFFFFF;
}
/* end Footer Widgets */
@media screen and (max-width: 768px) {
  .widget-area aside.categories, .widget-area aside.archives {
    display: none;
  }
}
.mobile-show {
  display: none;
}
/* =Responsive
----------------------------------------------- */
@media (min-width: 700px) and (max-width: 1250px) {
  #menu-item-1864 ul a {
    width: 185px;
  }
  #menu-item-1834 .sub-menu {
    left: auto;
    right: 0;
  }
  .post-type-archive-fund .widget-area #s, .tax-fund_interest .widget-area #s, .single-fund .widget-area #s, .tax-fund_category .widget-area #s {
    width: 77%;
  }
}
@media (min-width: 600px) and (max-width: 969px) {
  .site-footer .footer-widget-container {
    padding: 0 15px;
  }
}
@media (max-width: 940px) {
  #nav_menu-12 {
    line-height: 1.2em !important;
  }
  #nav_menu-12 ul li {
    margin-bottom: 1.2em;
  }
}
@media (max-width: 640px) {
  #header-widget-area .gform_widget {
    display: none;
  }
}
@media (max-width: 599px) {
  .responsive-hide {
    display: none;
  }
  #header-widget-area .search {
    margin: 0;
    max-width: 160px;
  }
  #header-widget-area .search input[type="text"] {
    width: 72%;
  }
  #header-widget-area #menu-social li {
    margin: 0 0.15em;
  }
  .menu-top-container {
    right: 5em;
    top: 2em;
  }
  .menu-top-container #menu-item-2263, .menu-top-container #menu-item-2264 {
    display: none;
  }
  .main-small-navigation .menu-toggle {
    background: #D6212E;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 3px 5px 6px;
  }
  .main-small-navigation .menu-toggle:hover {
    background: #723883;
  }
  .main-small-navigation .toggled-on {
    margin: 0;
  }
  .main-small-navigation .toggled-on li {
    list-style: none;
    margin: 0;
  }
  .main-small-navigation .toggled-on li a {
    background: #723883;
    color: #FFFFFF;
    text-transform: uppercase;
    display: block;
    padding: 2px 15px;
    margin-top: 0;
    border-bottom: 1px solid #B16797;
  }
  .main-small-navigation .toggled-on li a:hover {
    text-decoration: none;
    background: #D6212E;
  }
  .widget-area {
    float: none;
    width: 100%;
  }
  .widget-area .widget {
    margin-left: 0;
  }
  .site-footer .site-info .cf-standards {
    display: none;
  }
  .site-footer .site-info p {
    font-size: 0.75em;
  }
  .site-footer .footer-widget-container {
    padding: 0 15px;
  }
  .site-footer .footer-widget-container .footer-widget-area .footer-column {
    float: none;
    width: 100%;
  }
  .site-footer .footer-widget-container .footer-widget-area .footer-column .widget {
    display: none;
  }
  .site-footer .footer-widget-container .footer-widget-area .footer-column .widget.user-logins, .site-footer .footer-widget-container .footer-widget-area .footer-column .widget.widget_black_studio_tinymce {
    display: block;
  }
  .post-type-archive-fund #post-container, .post-type-archive-fund #dpe_fp_widget-2 {
    display: none;
  }
}
@media (max-width: 420px) {
  body {
    background-position: center -210px;
  }
  .site-header a {
    margin-top: 5px;
    width: auto;
    background-size: 50%;
  }
  .header-image {
    background-repeat: no-repeat;
  }
  #header-widget-area .search {
    max-width: 150px;
  }
  #header-widget-area .nav-menu ul {
    margin: 0;
  }
  .menu-top-container {
    right: 4.5em;
  }
  .site-footer .site-info p {
    font-size: 0.6em;
    margin: 0 1.5em;
  }
  .home .cfct-module {
    margin: 0;
    padding: 15px 5px;
  }
  .widget-title {
    font-size: 1.25em !important;
  }
}
.wp-block-button__link {
  background-color: #8c8e90;
  border-radius: 0;
}
.min-height-25 {
  min-height: 2.5em;
}
#menu-top-left-utilities, #menu-top-right-utilities {
  font-size: 0.9em;
  margin: 1em 0 0 0;
  display: flex;
  flex-wrap: wrap;
}
#menu-top-left-utilities li, #menu-top-right-utilities li {
  list-style-type: none;
  margin-right: 1em;
}
#menu-top-left-utilities li a, #menu-top-right-utilities li a {
  color: #fff;
}
#menu-top-right-utilities {
  font-size: 1.25em;
  flex-direction: row-reverse;
  gap: 1rem; /* Added because the nbsp; is being removed */
}
#menu-top-right-utilities li {
  margin-right: 0;
  margin-left: 1em;
}
.center-vertical .uagb-column__inner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.push-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
/*********** menu *************/
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
  display: none;
}
#mega-menu-wrap-primary #mega-menu-primary .mega-toggle-on .mega-menu-link .mega-indicator11111:hover > a:after {
  position: absolute;
  bottom: -8px;
  left: 45%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 9px 0 9px;
  border-color: #7d2b84 transparent transparent transparent;
  content: "";
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu {
  top: 50px;
}
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout:hover > a:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 9px 0 9px;
  border-color: #7d2b84 transparent transparent transparent;
}
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-animated-box {
  width: 100%;
}
#mega-menu-wrap-primary .mega-menu-toggle {
  background: linear-gradient(to right, #391b42, #723883);
}
.menu_search_box {
  text-align: center;
  color: #707070;
  padding: 20px;
}
.menu_search_box input {
  height: 40px;
  border: 1px solid #707070;
  font-size: 1.2em;
}
.menu_search_box label {
  text-transform: uppercase;
}
.menu_search_box button {
  font-size: 1.1em;
  height: 40px;
  width: 60%;
  background-color: #707070 !important;
  color: #fff;
  margin-top: 10px;
}
}
